# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Reports (optional)
report.txt

# Data generated during execution (optional)
data/sample_water_data.csv